<section class="page-container">
    <form class="search" [formGroup]="searchForm">
        <input formControlName="search"
               type="text"
               class="search-field"/>

        <button class="submit" type="submit" (click)="onSubmit()">Search</button>
    </form>
    <div class="table-results" *ngIf="results">
        <table class="table-title">
            <thead class="table-head">
                <tr>
                    <td class="table-cell" (click)="sortBy('admin_county')">admin_county</td>
                    <td class="table-cell" (click)="sortBy('admin_district')">admin_district</td>
                    <td class="table-cell" (click)="sortBy('admin_ward')">admin_ward</td>
                    <td class="table-cell" (click)="sortBy('ccg')">ccg</td>
                    <td class="table-cell" (click)="sortBy('ccg')">ccg</td>
                    <td class="table-cell" (click)="sortBy('codes')">codes</td>
                    <td class="table-cell" (click)="sortBy('country')">country</td>
                    <td class="table-cell" (click)="sortBy('eastings')">eastings</td>
                    <td class="table-cell" (click)="sortBy('european_electoral_region')">european_electoral_region</td>
                    <td class="table-cell" (click)="sortBy('incode')">incode</td>
                    <td class="table-cell" (click)="sortBy('latitude')">latitude</td>
                    <td class="table-cell" (click)="sortBy('longitude')">longitude</td>
                    <td class="table-cell" (click)="sortBy('lsoa')">lsoa</td>
                    <td class="table-cell" (click)="sortBy('msoa')">msoa</td>
                    <td class="table-cell" (click)="sortBy('nhs_ha')">nhs_ha</td>
                    <td class="table-cell" (click)="sortBy('northings')">northings</td>
                    <td class="table-cell" (click)="sortBy('nuts')">nuts</td>
                    <td class="table-cell" (click)="sortBy('outcode')">outcode</td>
                    <td class="table-cell" (click)="sortBy('parish')">parish</td>
                    <td class="table-cell" (click)="sortBy('parliamentary_constituency')">parliamentary_constituency</td>
                    <td class="table-cell" (click)="sortBy('postcode')">postcode</td>
                    <td class="table-cell" (click)="sortBy('primary_care_trust')">primary_care_trust</td>
                    <td class="table-cell" (click)="sortBy('quality')">quality</td>
                    <td class="table-cell" (click)="sortBy('region')">region</td>
                </tr>
            </thead>
            <tbody *ngFor="let result of results" class="table-results">
                <tr (click)="showDialog(result?.outcode)">
                    <td class="table-cell">{{result?.admin_county}}</td>
                    <td class="table-cell">{{result?.admin_district}}</td>
                    <td class="table-cell">{{result?.admin_ward}}</td>
                    <td class="table-cell">{{result?.ccg}}</td>
                    <td class="table-cell">{{result?.ccg}}</td>
                    <td class="table-cell">
                        {{result?.codes.admin_county}}
                        {{result?.codes.admin_district}}
                        {{result?.codes.admin_ward}}
                        {{result?.codes.ccg}}
                        {{result?.codes.nuts}}
                        {{result?.codes.parish}}
                        {{result?.codes.parliamentary_constituency}}
                    </td>
                    <td class="table-cell">{{result?.country}}</td>
                    <td class="table-cell">{{result?.eastings}}</td>
                    <td class="table-cell">{{result?.european_electoral_region}}</td>
                    <td class="table-cell">{{result?.incode}}</td>
                    <td class="table-cell">{{result?.latitude}}</td>
                    <td class="table-cell">{{result?.longitude}}</td>
                    <td class="table-cell">{{result?.lsoa}}</td>
                    <td class="table-cell">{{result?.msoa}}</td>
                    <td class="table-cell">{{result?.nhs_ha}}</td>
                    <td class="table-cell">{{result?.northings}}</td>
                    <td class="table-cell">{{result?.nuts}}</td>
                    <td class="table-cell">{{result?.outcode}}</td>
                    <td class="table-cell">{{result?.parish}}</td>
                    <td class="table-cell">{{result?.parliamentary_constituency}}</td>
                    <td class="table-cell">{{result?.postcode}}</td>
                    <td class="table-cell">{{result?.primary_care_trust}}</td>
                    <td class="table-cell">{{result?.quality}}</td>
                    <td class="table-cell">{{result?.region}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-outcode-dialog [outcode]="outcode"></app-outcode-dialog>
</section>

